<nav>
    <ul class="pager">
        <li class="previous <%= page == 0 ? 'disabled' : '' %>">
            <%= link_to_if page > 0, "&larr; Previous".html_safe, customers_path(keywords: keywords, page: page - 1) %>
        </li>
        <li class="next">
            <%= link_to "Next &rarr;".html_safe, customers_path(keywords: keywords, page: page + 1) %>
        </li>
    </ul>
</nav>