<article ng-app="angular_test">
    <header>
        <h1 ng-if="name">Hello, {{name}}</h1>
    </header>
    <section>
        <form class="form-inline">
            <div class ="form-group">
                <label for="name">Name</label>
                <input  class="form-control"
                        name="name"
                        type="text"
                        placeholder="Enter your name"
                        autofocus
                        ng-model="name">
            </div>
        </form>
    </section>
</article>